<div class="container">
  <div class="row">
    <section class="col-lg-12">
      <section class="col-lg-4">
        <img class="img-responsive" [src]="place.picture">
      </section>
      <section class="col-lg-8">
          <h3>{{place.name}}</h3>
        <article>
          <p></p>
          <p>{{place.description}}</p>
        </article>
      </section>
    </section>
  </div>
  <hr/>
  <div class="row">
    <div class="col-lg-12">
        <h4>Gallery</h4>
    </div>
  </div>
  <span></span><br><br>
  <button class="btn-lg btn-primary pull-left pull-down"  (click)="goBack()">Back</button>
</div>