<div class="container">
  <div class="row">

    <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

      <section class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
        <img class="img-responsive img-thumbnail" [src]="place.picture">
      </section>

      <section class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <h3>{{place.name}}</h3>

        <article>
          <br>
          <p>{{place.description}}</p>
        </article>
        <a (click)="this.favoritePlace.AddFavoritePlace(place.placeId)">
          <i class="material-icons pull-left pull-down">favorite_border</i>
        </a >
      </section>

    </section>
  </div>

  <hr/>

  <div class="row">
    <div class="col-xs-12">
      <h4>Gallery</h4>
    </div>
  </div>
  
  <br>
  <button class="btn btn-primary pull-left down" (click)="goBack()">Back</button>
</div>