<div class="container">
  <div class="row">

    <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

      <section class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
        <img class="img-responsive img-thumbnail" [src]="place.picture">
      </section>

      
      <section class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <div class="row">
        <section class="col-xs-6">
            <h3>{{place.name}}
            </h3>
          </section>
          <section class="col-xs-6" style="margin-top: 20px">            
            <ul *ngIf="authService.token != null">
                <star-rating-comp [speed]="'slow'" [starType]="'svg'" 
                [hoverEnabled]="true"
                (onClick)="onClick($event)" >                             
                </star-rating-comp>
            </ul>
          </section>
        </div>
          <article>
          <br>
          <p>{{place.description}}</p>
        </article>
        <ul *ngIf="authService.token != null">
            <ul *ngIf="checkExist(place.placeId) == true;else notExist">
                <a (click)="this.favoritePlace.DeletePlace(place.placeId)">          
                  <i class="material-icons pull-right down">star</i>   
                </a >
            </ul>
            <ng-template #notExist>
                <a (click)="this.favoritePlace.AddPlace(place.placeId)">          
                    <i class="material-icons pull-right down">star_border</i>   
                  </a >
            </ng-template>
        </ul>
      </section>
    </section>
  </div>

  <hr/>

  <div class="row">
    <div class="col-xs-12">
      <h4>Gallery</h4>
    </div>
  </div>
  
  <br>
  <button class="btn btn-primary pull-left down" (click)="goBack()">Back</button>
</div>
<h2>Leave your comment!</h2>
<div class="container">
  <disqus [identifier]="page"></disqus>
</div>