<div class="hidden-sm hidden-xs">
  <a id="fixed-link" [routerLink]="['/main']">
    <img id="logo-link" alt="Brand" src="../assets/img/logo_with_background.png">
  </a>
</div>

<div class="nav-container">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" [@navBarState]="this.state">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="hidden-lg hidden-md">
          <a [routerLink]="['/main']">
            <img id="logo-navbar" alt="Brand" src="../assets/img/logo.png">
          </a>
        </div>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-left hidden-lg hidden-md ">
          <li>
            <a routerLink="/cities-list" 
            [queryParams] = "{pageSize:3, pageNumber:1}">Cities</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-left hidden-xs hidden-sm place-for-logo">
          <li>
            <a routerLink="/cities-list">Cities</a>
          </li>
        </ul>
        <ul *ngIf="authService.token == null;else registered" class="nav navbar-nav navbar-right">
          
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a (click)="signUp()">
                    <span class="glyphicon glyphicon-user"></span> Sign Up</a>
                </li>
                <li class="divider"></li>
                <li>
                  <a (click)="signIn()">
                    <span class="glyphicon glyphicon-log-in"></span> Sign In</a>
                </li>
              </ul>
            </li>
          
        </ul>
        <ng-template #registered>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Hi, {{authService.FirstName}} !
                <span class="glyphicon glyphicon-menu-hamburger"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a routerLink="/profile">
                    <span class="glyphicon glyphicon-home"></span> Your profile</a>
                </li>
                <li class="divider"></li>
                <li>
                  <a routerLink="/main" (click)="logout()"> 
                    <span class="glyphicon glyphicon-log-out"></span> Log Out</a>
                </li>
              </ul>
            </li>
          </ul>
        </ng-template>
      </div>
    </div>
  </nav>
</div>
