.scrollable {
    height:150px;
    overflow-y: scroll;
  }
button{
    margin: 15px;
}

 .round2 {
    border: 2px solid rgb(235, 234, 234);
    border-radius: 8px;
    background-color: whitesmoke;
}



.Date{
    padding: 0px;
    margin: 0px;
}


.object-fit_contain { 
    margin: 10px 0px;
    min-height: 200px;
    max-height: 200px;
    object-fit: contain ;
    position: relative;
    object-position: center;
    background-color: aliceblue;
    z-index: 1;
}

  .icon {   
    position: absolute;
    bottom: 18%;
    right: 10%;
    height: 36px;
    width: 36px;
    opacity: 1;
    transition: .3s ease;
    color: #141313;
    font-size: 120px;
    z-index: 2;
  }
  
#favorite.material-icons 
{
    position: absolute; 
    font-size: 36px;
    cursor: pointer;
    border: 8px;
    color: rgb(248, 2, 43);
    border-color: blue;
    opacity: 1;
    z-index: 2;
}
@media only screen and (max-width: 1200px) {
    .object-fit_contain { 
        position: relative;
        width: 100%;
        min-height: 170px;
        max-height: 170px;
        object-fit: contain ;
        object-position: center;
        background-color: aliceblue;
        z-index: 1;
    }
    
    @media only screen and (max-width: 990px) {
        .object-fit_contain { 
            position: relative;
            width: 100%;
            min-height: 200px;
            max-height: 600px;
            object-fit: contain ;
            object-position: center;
            background-color: aliceblue;
            z-index: 1;
        }
    }
}
h2 {
    text-align: center;
}

.blablacar_item{
    width: 99%;
    position: relative;
    line-height: 24px;
    color: #767676;
    padding: 15px 10px;
    margin: 5px;
    background-color: #ffffff;
    clear: both;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.blablacar-img{
    max-width: 200px;
    display: block;
    margin: 0 auto;
}

#blablacar-price{
    text-align: center;
    font-weight: bold;
}

#blablacar-suggestion{
    text-align: right;
}

#blablacar-p{
    text-align: center;
}