.scrollable {
    height:150px;
    overflow-y: scroll;
  }

  .image{
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
}
 .places-images{
     height: 200px;
     background-color: aliceblue;
}

.object-fit_contain { 
    width: 100%;
    min-height: 200px;
    max-height: 200px;
    object-fit: contain ;
    object-position: center;
    background-color: aliceblue;
}

@media only screen and (max-width: 1200px) {
    .object-fit_contain { 
        width: 100%;
        min-height: 170px;
        max-height: 170px;
        object-fit: contain ;
        object-position: center;
        background-color: aliceblue;
    }
    
    @media only screen and (max-width: 990px) {
        .object-fit_contain { 
            width: 100%;
            min-height: 200px;
            max-height: 600px;
            object-fit: contain ;
            object-position: center;
            background-color: aliceblue;
        }
    }
    
}