<div *ngIf="city" class="container">
  <div class="row">
    <section class="col-md-12">
      <section class="col-md-4">
        <img class="img-responsive img-thumbnail" [src]="city.picture">
      </section>

      <div class="container-fluid col-md-8 ">
        <section>
          <h2>
            <b>{{city.name}}
            </b>
                <i class="material-icons pull-right down" style="color:gold ">star</i>
                <section class ="rating pull-right" style="text-align:center; font-size: 20px">
                  <p style="font-size: 20px">{{getCityRating(city.rating)}}
                  </p>  
                </section>
          </h2>

          <p> {{city.description}}
        </section>
      </div>
    </section>
  </div>
  
  <hr><div>
    <h3>Attractive Places</h3><br>
  </div>

  <div class="row round2">

    <div *ngFor="let place of places" class="col-md-3 text-white bg-secondary ">
      <img class="img-responsive img-thumbnail object-fit_contain" routerLink="place/{{place.placeId}}" [src]="place.picture">
      <ul *ngIf="authService.token != null">
          <ul *ngIf="checkExist(place.placeId) == true;else notExist">
              <a class="icon pull-right" (click)="this.favoritePlace.DeletePlace(place.placeId)">          
                <i id="favorite" class="material-icons pull-right down">favorite</i>   
              </a >
          </ul>
          <ng-template #notExist>
              <a class = "icon pull-right" (click)="this.favoritePlace.AddPlace(place.placeId)">          
                  <i id="favorite" class="material-icons pull-right down">favorite_border</i>   
                </a >
          </ng-template>
      </ul>
      <h5 class= "text-center" >
        <a routerLink="place/{{place.placeId}}">{{place.name}}</a>
      </h5>
    </div>

    <div id="button-div">
        <button class="btn btn-primary pull-left down" routerLink="/cities-list">Back</button>
      <button class="btn btn-primary pull-right down" routerLink="place-list" [queryParams] = "{pageSize:3, pageNumber:1}">Show More</button>
    </div>

  </div>
  
</div>
<h2>Leave your comment!</h2>
<div class="container">
  <disqus [identifier]="page"></disqus>
</div>  




