.scrollable {
    height:150px;
    overflow-y: scroll;
  }

  .image{
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
}
 .places-images{
     height: 200px;
     background-color: aliceblue;
}


.object-fit_contain { object-fit: contain }

