<a class="close btn" (click)="closeDialog()" role="button">&times;</a>
<h3>Change Password</h3>
<form novalidate [formGroup]="myform" (submit)="onSubmit()">
  <div class="form-group" [ngClass]="{
      'has-error': OldPassword.invalid && OldPassword.dirty, 
      'has-success': OldPassword.valid && OldPassword.dirty
    }">
    <label for="OldPassword">Old password:</label>
    <input [(ngModel)]="oldPassword" type="password" name="Password" class="form-control" id="OldPassword" formControlName="OldPassword"
      required>
  </div>
  <div class="form-group" [ngClass]="{
    'has-error': NewPassword.invalid && NewPassword.dirty, 
    'has-success': NewPassword.valid && NewPassword.dirty 
  }">
    <label for="NewPassword">New password:</label>
    <input [(ngModel)]="newPassword" type="password" name="Password" class="form-control" id="NewPassword" formControlName="NewPassword"
      required>
  </div>
  <div class="form-group" [ngClass]="{
    'has-error': NewPasswordConfirm.invalid && NewPasswordConfirm.dirty, 
    'has-success': NewPasswordConfirm.valid && NewPasswordConfirm.dirty 
  }">
    <label for="NewPasswordConfirm">Confirm new password:</label>
    <input [(ngModel)]="newPasswordConfirm" type="password" name="Password" class="form-control" id="NewPasswordConfirm" formControlName="NewPasswordConfirm"
      required>
  </div>
  <div class="row">
    <div class="form-group col-sm-4 col-sm-offset-4">
      <input type="submit" value="Submit" class="form-control btn btn-primary " [disabled]="!myform.valid">
    </div>
  </div>
</form>