<!-- *ngFor="let place of places" id="tile" -->
<h1 class="text-center">Most popular places</h1>

<!-- <div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let place of places" id="tile">
      <div class="thumbnail">
        <img class="img-responsive" [src]="imagesToShow[place.placeId]">
        <div class="caption">
          <h3>Name: {{place.name}}</h3>
          <h2>City name: {{place.cityName}}</h2>
          <p>{{place.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <!-- <a href="/w3images/lights.jpg" target="_blank"> -->
          <img class="img-responsive" [src]="places[0].picture">
          <div class="caption">
            <h2>{{places[0].name}}</h2>
            <h3>City:<a href="/city"> {{places[0].cityName}}</a></h3>
            <p>{{places[0].description}}</p>
          </div>
          <!-- </a> -->
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <!-- <a href="/w3images/lights.jpg" target="_blank"> -->
          <img class="img-responsive" [src]="places[1].picture">
          <div class="caption">
            <h2>{{places[1].name}}</h2>
            <h3>City: {{places[1].cityName}}</h3>
            <p>{{places[1].description}}</p>
          </div>
          <!-- </a> -->
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <!-- <a href="/w3images/lights.jpg" target="_blank"> -->
          <img class="img-responsive" [src]="places[2].picture">
          <div class="caption">
            <h2>{{places[2].name}}</h2>
            <h3>City: {{places[2].cityName}}</h3>
            <p>{{places[2].description}}</p>
          </div>
          <!-- </a> -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <!-- <a href="/w3images/lights.jpg" target="_blank"> -->
          <img class="img-responsive" [src]="places[3].picture">
          <div class="caption">
            <h2>{{places[3].name}}</h2>
            <h3>City: {{places[3].cityName}}</h3>
            <p>{{places[3].description}}</p>
          </div>
          <!-- </a> -->
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <!-- <a href="/w3images/lights.jpg" target="_blank"> -->
          <img class="img-responsive" [src]="places[4].picture">
          <div class="caption">
            <h2>{{places[4].name}}</h2>
            <h3>City: {{places[4].cityName}}</h3>
            <p>{{places[4].description}}</p>
          </div>
          <!-- </a> -->
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <!-- <a href="/w3images/lights.jpg" target="_blank"> -->
          <img class="img-responsive" [src]="places[5].picture">
          <div class="caption">
            <h2>{{places[5].name}}</h2>
            <h3>City: {{places[5].cityName}}</h3>
            <p>{{places[5].description}}</p>
          </div>
          <!-- </a> -->
        </div>
      </div>
    </div>
  </div>