<h1 class="text-center">Cities</h1>

<div class="container">
  <div *ngFor="let city of cities" id="tile">
    <div class="row">
      <section class="col-lg-12">

        <section class="col-lg-4 text-center">
          <img  [src]="city.picture" class="img-responsive img-thumbnail object-fit_contain">
        </section>

        <section class="col-lg-8">
          <div class="row">
          <h3><a routerLink="/city/{{city.cityID}}">{{city.name}}</a></h3>  
          </div>
          
          <article>
            <br/>
            <p style='text-align:justify'>{{city.description}}</p>
          </article>
          
          <span></span>
          <button class="btn btn-primary pull-right pull-down"  routerLink="/city/{{city.cityID}}">Show more</button>   
        </section>

      </section>
    </div>
    <hr/>
  </div>
  <app-pagination
  [count]="total"
  [page]="page"
  [perPage]="perPage"
  [pagesToShow]="5"
  [loading]="loading"
  (goPage)="goToPage($event)"
  (goNext)="onNext()"
  (goPrev)="onPrev()">
  </app-pagination>
</div>