a {
    text-decoration: none;
}

.object-fit_contain { 
    align-content: center;
    width: 100%;
    max-width: 800px;
    min-height: 250px;
    max-height: 500px;
    object-fit: contain ;
    object-position: center;
    background-color: aliceblue;
}

.row .col-sm-8{
    text-align: left;   
}

.row .col-xs-12
{
    text-align: center;
}
