<h1 class="text-center">Cities</h1>

<div class="container" style="min-height:77.5vh" >
  <div *ngFor="let city of cities" id="tile">
    <div class="row">
      <section class="col-lg-12">

        <section class="col-lg-4 text-center">
          <img  [src]="city.picture" class="img-responsive img-thumbnail object-fit_contain">
        </section>

        <section class="col-xs-12 col-lg-8">
          <div class="row">
            <section class = "col-xs-12 col-sm-8">
              <h3><a routerLink="/city/{{city.cityID}}">{{city.name}}</a></h3>  
            </section>
            <section class = "col-xs-12 col-sm-4" style="margin-top: 20px">
              <star-rating-comp [starType]="'svg'" [showHalfStars]="true" [labelText]="city.rating" [labelPosition]="'right'" [readOnly]="true" [step]="0.5" [rating]="city.rating">
              </star-rating-comp>
            </section>
            </div>
          
          <article>
            <br/>
            <p style='text-align:justify'>{{city.description}}</p>
          </article>
          
          <span></span>
          <button class="btn btn-primary pull-right pull-down"  routerLink="/city/{{city.cityID}}">Show more</button>   
        </section>

      </section>
    </div>
    <hr/>
  </div>
  <!--calling pagination component buy selector -->
  <app-pagination
  [countOfElements]="countOfElements"
  [currentPage]="currentPage"
  [elementsperPage]="elementsPerPage"
  [pagesToShow]="pagesToShow"
  [loading]="loading"
  (goPage)="goToPage($event)"
  (goNext)="onNext()"
  (goPrev)="onPrev()">
  </app-pagination> 
</div>
<app-footer> </app-footer>