<div >
<div class="container" style="min-height:81.3vh">
  <div class="row ">
    <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <section class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
        <img class="img-responsive img-thumbnail object-fit_contain" src="../assets/img/Profile/Default Profile Image.png">
      </section>
      <section class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
          <h3>{{user.Email}}</h3> 
          <h3>{{user.FirstName}}</h3>
          <h3>{{user.LastName}}</h3>
            <a class="pull-right down" (click)="changePassword()">
              <i class="material-icons">security</i>  Change Password</a>
        </section>  
      </section>
    </div>
  
    <hr/>

    <ul *ngIf="favoritePlaces.length != 0">
      <div class="row">
        <div class="col-xs-12">
          <h4>Favorite places</h4>
        </div>
        <div *ngFor="let place of favoritePlaces" class="col-md-3 text-white bg-secondary ">
          <img class="img-responsive img-thumbnail object-fit_contain" routerLink="place/{{place.placeId}}" [src]="place.picture">
          <h5 class= "text-center" >
            <a routerLink="/city/{{place.cityId}}/place/{{place.placeId}}">{{place.name}}</a>
            <a (click)="removeFavoritePlace(place.placeId)">          
              <i class="material-icons pull-right down">delete</i>   
            </a >
          </h5>
        </div>  
      </div>
  
    </ul> 
  </div>
  <app-footer></app-footer>
 
       
