<div class="container">
    <div class="row">
  
      <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  
        <section class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
                <img class="img-responsive img-thumbnail object-fit_contain" src="../assets/img/Profile/Default Profile Image.png">
        </section>
  
        <section class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
          <h3>{{user.Email}}</h3> 
          <h3>{{user.FirstName}}</h3>
          <h3>{{user.LastName}}</h3>  
        </section>  
      </section>
    </div>
  
    <hr/>
  
    <div class="row">
      <div class="col-xs-12">
        <h4>Favorite places</h4>
      </div>
    </div>    
</div>