@import '~@angular/material/theming';
@include mat-core();

$easy-travel-primary: mat-palette($mat-indigo);
$easy-travel-accent:  mat-palette($mat-amber, A200, A100, A400);
$easy-travel-warn:    mat-palette($mat-red);

$easy-travel-theme: mat-light-theme($easy-travel-primary, $easy-travel-accent, $easy-travel-warn);

@include angular-material-theme($easy-travel-theme);