/* You can add global styles to this file, and also import other style files */

.btn {
    border-radius: 0px;
}

/*For fixed navbar*/
body {
    margin-top: 70px;
}

p {
    text-align: justify;
}

#button-div {
    position: relative;
    top: 5px;
}