<h1 class="text-center"> Places of
  <a routerLink="/city/{{cityID}}">{{cityName}}</a>
</h1>
<div class="col-sm-2">
  <div id="filters">
    <h3>Apply filters to places:</h3>
    <form [formGroup]="form">
      <div *ngFor="let filter of filters.controls; let i = index">
        <mat-checkbox [id]="filterMechanism.filters[i].id" [formControl]="filter" (checked)="filterMechanism.filters[i].selected==true"
          (change)="checkSelectedCheckbox($event);getFilteredPlacesList()" color="warn">
          {{filterMechanism.filters[i].name}}
        </mat-checkbox>
      </div>
    </form>
  </div>
</div>
<div class="container" style="min-height:76vh">
  <div *ngFor="let place of places" id="tile">
    <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <section class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <img  id="image" class="img-responsive img-thumbnail object-fit_contain" 
            [src]="place.picture"/>
            
            <ul *ngIf="authService.token != null">          
              <ul *ngIf="checkExist(place.placeId) == true;else notExist">          
                <a class="icon pull-right" (click)="this.favoritePlace.DeletePlace(place.placeId)">                   
                  <i id="favorite" class="material-icons pull-right down">favorite</i>   
                </a >
              </ul>
              <ng-template #notExist>
                <a class="icon pull-right" (click)="this.favoritePlace.AddPlace(place.placeId)">          
                  <i id="favorite" class="material-icons pull-right down">favorite_border</i>   
                </a >
              </ng-template>
            </ul>
          </section>
          <section class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            
            <div class="row">
              <section class="col-xs-12 col-sm-8">
                <h3>
                  <a routerLink="/city/{{cityID}}/place/{{place.placeId}}">{{place.name}}</a>
                  
                </h3>
              </section>
              <section class = "col-xs-12 col-sm-4" style="margin-top: 20px">
                  <i class="material-icons pull-right down" style="color:gold">star</i>
                  <section class ="rating pull-right">
                    <p style="font-size: 20px">{{getPlaceRating(place.rating)}}
                    </p>  
                  </section>
              </section>
              </div>
            
          <article>
            <p></p>
            <p>{{place.description}}</p>
          </article>
          
          <button class="btn btn-primary pull-right pull-down" 
          routerLink="/city/{{cityID}}/place/{{place.placeId}}">
          Show More
        </button>
      </section>
    </section>
  </div>
    <hr/>
  </div>
</div>
<div>
  <app-pagination
  [countOfElements]="countOfElements"
  [currentPage]="currentPage"
  [elementsperPage]="elementsPerPage"
  [pagesToShow]="pagesToShow"
  [loading]="loading"
  (goPage)="goToPage($event)"
  (goNext)="onNext()"
  (goPrev)="onPrev()">
  </app-pagination>
</div>
